body{
  padding-bottom: 60px;
}
.jumbotron {
  padding: 20px 15px;
}
.links a{
  color: #555555;
}
.user-img{
  max-height: 220px;
}
@media (max-width: 768px) {
  .user-text{
    text-align: center;
  }
}
#gh-activity{
  max-height: 400px;
  overflow-y: scroll;
}
#gh-activity::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
#gh-activity::-webkit-scrollbar-thumb {
  background-color: #2980b9;
}
.gh-activity-box-title{
  vertical-align: middle !important;
}
#gh-activity ul{
  list-style: none;
}
#gh-activity li{
  border-top: 2px solid #F9F9F9;;
  margin: 0;
  padding: 5px 10px;
}
#gh-activity div blockquote{
  padding: 0;
  margin: 0;
  font-size: 17.5px;
  border-left: 0px solid #fff;
}